
#main-header {
    grid-area: Header;
    background-color: var(--background-header);
    border-bottom: var(--border-header);        

    display: flex;
    justify-content: center;
    align-items: center;  

    font-size: 1.8em;
}